<mjml>
  <mj-head>
    <mj-attributes>
      <mj-all padding="0px"></mj-all>
      <mj-class name="preheader" color="#000000" font-size="11px" font-family="Ubuntu, Helvetica, Arial, sans-serif" padding="0px"></mj-class>
    </mj-attributes>
    <mj-style inline="inline">
      a {
        text-decoration: none;
        color: inherit;
      }
    </mj-style>
  </mj-head>
  <mj-body background-color="#e0f2ff">
    <mj-section background-color="#2a5cab" padding="10px 0">
      <mj-column width="33%">
        <mj-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/2300px-React-icon.svg.png" alt="logo" width="50px" padding="10px 0"></mj-image>
      </mj-column>
      <mj-column width="66%">
        <mj-text align="left" color="#ffffff" font-size="20px" font-family="Lato, Helvetica, Arial, sans-serif" padding="18px 0px">EMAIL VERIFICATION</mj-text>
      </mj-column>
    </mj-section>
    <mj-section background-color="#ffffff" padding-top="20px">
      <mj-column width="100%">

        <mj-text align="center" color="#FAB701" font-size="25px" font-family="Lato, Helvetica, Arial, sans-serif" padding="10px 25px"><strong>Confirm your email address
            <br />
            <br />
            {message}
            <br />
            <br />
          </strong></mj-text>

      </mj-column>
    </mj-section>
    <mj-section background-color="#FAB700" padding="10px">
      <mj-column vertical-align="top" width="100%">
        <mj-text align="center" color="#EC652D" font-size="20px" font-family="Lato, Helvetica, Arial, sans-serif" padding="10px 25px">Best, <br /><br /> React Auth App</mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>